body{
    display: flex;
    flex-direction: column;
    height: 900vh;
    flex-grow: 1;
}



footer{
    display: flex;
    width: 100%;
    background-color: blue;
    flex-direction: row;
    text-decoration: none;  
    align-items: center;
    padding: 40px;
    gap: 5000px;
}

footer ul{
 gap: 80px;     
 margin: 20px; 
 margin-left: 100px;
}

.footer-desc{
    display: flex;
    text-align: end;
}