body{
    
    
}

header{
    width: 1440px;
    background-color: aquamarine;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

p{
    display: flex;
    justify-content: center;
    
}