* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
html{
    width: 1440px; 
    min-height: 900px;
    margin: 0 auto;
    overflow-x: hidden;
    background: #FFF;
}

body {
    width: 100%;
    min-height: 900px;
    height: auto;
}