* {
    text-decoration: none;
}

header {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logo-lux {
    width: 425px;
}

header nav {
    background-color: var(--cor5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 36px;
    gap: 50px;
    width: 100%;
    height: 127px;
}

ul {
    margin-left: 200px;
    display: flex;
    gap: 60px;
    font-size: 4rem;
}

.nav-items a{
    color: #ffffff;
    transition: 400ms;
}

.nav-items a:hover, .nav-items a.active{
    color: var(--cor8);
}

.search, .search #search{
    width: 82px;
    height: 82px;
    resize: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    border: none;
    margin-right: 50px;
}

#search:focus{
    margin-right: 200px;
    width: 200px;
}

.search .fa-magnifying-glass {
    position: absolute;
    font-size: 1.7rem;
    cursor: text;
}

#search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    width: 82px;
    height: 82px;
    border-radius: 16px;
}

#search-icon i {
    font-size: 27px;
}

@media(max-width: 1326px){
    ul{
        margin-left: 20px;
    }
    .nav-items{
        font-size: 4rem;
    }
}