* {
    text-decoration: none;
}

header {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#logo-lux {
    width: 425px;
}

header nav {
    background-color: var(--cor5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 36px;
    gap: 50px;
    width: 100%;
    height: 127px;
}

ul {
    margin-left: 200px;
    display: flex;
    gap: 60px;
    font-size: 4rem;
}

.nav-items a{
    color: #ffffff;
    transition: 400ms;
}

.nav-items a:hover, .nav-items a.active{
    color: var(--cor8);
}

.search, .search #search{
    width: 82px;
    height: 82px;
    /* resize: none; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    border: none;
    margin-right: 50px;
}
#search:focus{
    margin-right: 200px;
    width: 200px;
}
#search:hover {
    border: none;
}

.search .fa-magnifying-glass {
    position: absolute;
    font-size: 1.7rem;
}

#search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    width: 82px;
    height: 82px;
    border-radius: 16px;
}

#search-icon i {
    font-size: 27px;
}
.menu-burguer-container{
    position: absolute;
    top: 8%;
    right: 5%;
    margin-left: 100px;
    z-index: 99;
    display: none;
    align-items: center;
    height: 40px;
    width: 40px;
}
.menu-burguer, .menu-burguer::before, .menu-burguer::after{
    content: "";
    display: block;
    position: absolute;
    height: 5px;
    width: 40px;
    background: #F5A2A2;
    transition: .3s all ease-in-out;
}
.menu-burguer::before{
    transform: translateY(-12px);
}
.menu-burguer::after{
    transform: translateY(12px);
}
.close .menu-burguer::before{
    transform: rotate(45deg);
}
.close .menu-burguer::after{
    transform: rotate(-45deg);
}
.close .menu-burguer{
    background-color: transparent;
}
input[type='text'] {
    padding-left: 55px;
    background-image: url('../../img/carreiras/search-icon.svg');
    background-repeat: no-repeat;
    background-position: 5%;
    border: 3px solid #F5A2A2;
    height: 69px;
    width: 255px;
    font-size: 32px;
    transition: .2s all;
}

input:focus {
    border-color: #9A5071;
    outline: none;
}

@media(max-width: 1326px){
    ul{
        margin-left: 20px;
    }
    .nav-items{
        font-size: 4rem;
    }
}


@media(max-width: 768px){
    .menu-burguer-container{
        z-index: 99;
        display: flex;
    }
    .search{
        display: none;
    }
    header nav {
        z-index: 98;
        display: none;
        position: absolute;
        align-items: center;
        justify-content: center;
        top: 0;
        height: 100vh;
    }
    header nav ul {
        align-items: center;
        flex-direction: column;
    }
}